###### Requirements without Version Specifiers ######
pysimplegui
ambient_api @ https://github.com/avryhof/ambient_api/archive/refs/tags/1.5.2.zip
python_jwt

###### Requirements with Version Specifiers ######
# pip install gcloud
# pip install sseclient
# pip install pycrypto
# pip install requests-toolbelt