###### Requirements without Version Specifiers ######
ambient_api @ https://github.com/avryhof/ambient_api/archive/refs/tags/1.5.2.zip

###### Requirements with Version Specifiers ######
# pip install gcloud
# pip install sseclient
# pip install pycrypto
# pip install requests-toolbelt